@import "components/typeplate/less/typeplate.less";
@import url(http://fonts.googleapis.com/css?family=Signika);

/*Rose and rows, from Kuler*/
@red: #9C232A;
@brick: #B53E2E;
@orange: #D4623F;
@green: #C4B453;
@yellow: #FF9D4D;

@maroon: #3d2d29;
@darkblue: #2a4959;
@blue: #76a5a8;
@light: #b3ccb7;
@beige: #e5d8b5;
@dark: #444444;

body {
    font-family: "Signika";
    background-color: @orange;
    background-image: linear-gradient(@orange, lighten(@orange, 5%));
}
#main {
    padding: 0;
    width: 800px;
    margin: auto;
    min-height: 500px;
}

#search {
    background-color: @brick;
    background-image: linear-gradient(darken(@brick, 10%), @brick, lighten(@brick, 5%));
    color: @yellow;
    box-shadow: -1px 2px 10px 5px rgba(0, 0, 0, 0.7);
    padding: 5px;
    margin: 0;
    position: relative;
    z-index: 2;
    min-height: 100px;
    input {
        font-size: 150%;
        background-color: lighten(@green, 20%);
        border: thin @maroon solid;
        color: @maroon;
        width: 580px;
        padding-left: 10px;
    }
    button.search {
        font-size: 150%;
        color: @brick;
        background-color: @yellow;
        background-image: linear-gradient(lighten(@yellow, 20%), @yellow);
        border: none;
        float: left;
        margin-right: 5px;
        margin-top: 1px;
    }
}

#results {
    background-color: @green;
    border: thin solid @brick;
    z-index: 1;
    padding: 20px 3px 3px 3px;
    margin-bottom: 20px;
    .header, .title {
        margin: 0;
        padding: 0;
        line-height: 85%;
    }

    .title {
        font-weight: bold;
    }
}

#score {
    font-size: 300%;
    line-height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#time {
    font-size: 66%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    margin-top: -10px;
}

#result {
    margin-bottom: 10px;
    float: right;
    z-index: 3;
    margin-right: -30px;
    border-radius: 50px;
    background-color: @yellow;
    color: @orange;
    padding: 0 20px 0 20px;
    box-shadow: -1px 2px 10px 5px rgba(0, 0, 0, 0.3);
    height: 100px;
    text-align: center;
}


h1 {
    color: fadeout(@yellow, 50%);
    display: block;
    transform: rotate(-90deg) translate(-170px, -230px);
    -webkit-transform: rotate(-90deg) translate(-170px, -230px);
    position: fixed;
    z-index: -1;
}
a {
    text-decoration: none;
    color: @maroon;
}
div.facet {
    font-size: 65%;
    margin: 4px;
}
button.facet {
    padding: 2px;
    margin: 1px;
    border: thin darken(@green, 30%) solid;
    background-color: @green;
    color: @maroon;
}
.facet.selected {
    color: @green;
    border: thin @green solid;
    background-color: @dark;
}
.facet .count {
    color: white;
    margin-left: 6px;
}
.response {
    margin: 0;
    margin-top: -10px;
    padding-top: 2px;
    background: linear-gradient(@green, lighten(@green, 5%));
    background-image: -webkit-linear-gradient(@green, lighten(@green, 5%));
}
dl {
    margin-top: 0;
    margin-left: 50px;
}
dt {
    color: @brick;
    font-size: 65%;
}
dd {
    color: white;
}
dd b {
    color: @maroon;
    font-weight: normal;
}
.serial {
    color: @red;
}
.header span {
    background-color: @orange;
    color: white;
    font-size: 65%;
    padding: 0 2px 0 2px;
}
.chart {
    cursor: col-resize;
    rect {
        fill: @yellow;
        stroke: @maroon;
    }
    #selection {
        fill: white;
        fill-opacity: 0.2;
        stroke: none;
        cursor: move;
    }
}
#info {
    min-height: 20px;
    font-size: 65%;
}

#datetime {
    line {
        stroke: @maroon;
    }
    button {
        margin-left: 5px;
        border: thin solid @maroon;
        background-cursor: @beige;
    }
}
