<!doctype html>
<title>Trac Search</title>

<body>
    <form action="/" method="GET">
        <input type="text" name="q" value="{{q}}"/>
    </form>
    {% if results %}
 {{ results.hits.total }}
 <ul>
     {% for result in results.hits.hits %}
     <li>
         {% for field in result['highlight'] %}
            {% for value in result['highlight'][field] %}
                {{value | safe}}
            {% endfor%}
         {% endfor %}
     </li>

 {% endfor %}
 </ul>

 {% endif %}
    </body>
