<!doctype html>
<title>Trac Search</title>

<body>
    <form action="/" method="GET">
        <input type="text" name="q" value="{{q}}"/>
    </form>
    {% if results %}
 {{ results.hits.total }}
 <ul>
     {% for result in results.hits.hits %}
     <li>
         <span class="type">{{result['_type']}}</span> {{ result._source.status }} {{ result._source.reporter }} {{ result._source.summary}} <span type="changetime">{{ result._source.changetime }}</span> <br/>
         {% for field in result['highlight'] %}
            <i>{{field}}</i>
            {% for value in result['highlight'][field] %}
                {{value | safe}}
                {% endfor%}<br>
            {% endfor %}
     </li>

 {% endfor %}
 </ul>

 {% endif %}
    </body>
