<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Trac Search</title>
        <link rel="stylesheet" href="/components/normalize-css/normalize.css"/>
        <link rel="stylesheet" href="/static/styles.css"/>
    </head>
    <body>

        <div id="main">
            <h1 class="alpha">Trac Search</h1>
    <form action="/" method="GET">
        <input type="text" name="q" value="{{q}}"/>
        <div id="facets">
            {% for key in results.facets %}
                <div class="facet">
                    <span class="type">{{key}}</span>
                    <input type="hidden" name="facet_{{key}}" value="{{facets}}"/>
                    {% for term in results.facets[key].terms %}
                    <span class="facet" data-facet="{{key}}" data-term="{{term.term}}">
                        <span class="term">{{term.term}}</span>
                        <span class="count">{{term.count}}</span>
                    </span>
                    {% endfor %}
                </div>
            {% endfor %}


    </div>
    </form>
    {% if results %}
    <div id="result">Results: {{ results.hits.total }} ({{ results.took }} ms)</div>
     {% for result in results.hits.hits %}
     <div class="response">
         {% if result._type == 'ticket' %}
         <div class="header">
         <span class="serial">#{{result._id}}</span>
         <a href="{{trac_root}}/trac/ticket/{{result._id}}" class="title">{{ result._source.summary}}</a>
         <span class="status">{{ result._source.status }}</span>
         <span class="reporter">{{ result._source.reporter }}</span>
         <span class="changetime">{{ result._source.changetime }}</span>
         </div>
         <dl class="lining">
         {% for field in result['highlight'] %}
            <dt>{{field}}</dt>
            {% for value in result['highlight'][field] %}
                <dd>…{{value | safe}}…</dd>
            {% endfor%}
         {% endfor %}
         </dl>
         {% endif %}
     </div>

 {% endfor %}

 {% endif %}
 </div>
 <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
 <script language="javascript">
     $(function() {
         $('span.facet').click(function(evt) {
            var sel = 'input[name="facet_' + this.dataset.facet + '"]';
            $(sel).val(this.dataset.term);
            $('form').submit();
         });
     });
 </script>
    </body>
</html>
